h2,
p {
  padding: 1rem;
}

p {
  max-width: 60ch;
}

.inner-container {
  max-width: 1400px;
  margin: 0 auto;
}

.horizontal-group {
  display: flex;
  overflow: scroll;
}

.horizontal-group > div {
  background-color: #3f1917;
  flex: 0 0 330px;
  height: 187px;
  margin: 1rem 0.5rem;
  border-radius: 3px;
}

.featured {
  background-image: url('../img/movie.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 500px
}

.featured h2 {
  color: white;
}